In [1]:
A='the cat sat on my face'
B='the dog sat on my bed'

In [5]:
#bag of words(bow)-tokenization
bowA=A.split(" ")
bowB=B.split(" ")

In [6]:
bowA

['the', 'cat', 'sat', 'on', 'my', 'face']

In [7]:
bowB

['the', 'dog', 'sat', 'on', 'my', 'bed']

In [8]:
wordset=set(bowA).union(set(bowB))

In [9]:
wordset

{'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat', 'the'}

In [19]:
#creating dict for word counts
wordictA=dict.fromkeys(wordset,0)
wordictB=dict.fromkeys(wordset,0)

In [20]:
wordictA

{'bed': 0, 'cat': 0, 'dog': 0, 'face': 0, 'my': 0, 'on': 0, 'sat': 0, 'the': 0}

In [21]:
for word in bowA:
    wordictA[word]+=1
    
for word in bowB:
    wordictB[word]+=1

In [22]:
wordictA

{'bed': 0, 'cat': 1, 'dog': 0, 'face': 1, 'my': 1, 'on': 1, 'sat': 1, 'the': 1}

In [23]:
from pandas import DataFrame as df
df1=df([wordictA,wordictB])

In [24]:
df1

   bed  cat  dog  face  my  on  sat  the
0    0    1    0     1   1   1    1    1
1    1    0    1     0   1   1    1    1

In [27]:
def computetf(wordict,bow):
    tfdict={}
    bowcount=len(bow)
    for word, count in wordict.items():
        tfdict[word]=count/float(bowcount)
    return tfdict

In [28]:
tfbowA=computetf(wordictA,bowA)
tfbowB=computetf(wordictB,bowB)

In [47]:
tfbowB

{'bed': 0.16666666666666666,
 'cat': 0.0,
 'dog': 0.16666666666666666,
 'face': 0.0,
 'my': 0.16666666666666666,
 'on': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'the': 0.16666666666666666}

In [48]:
tfbowA

{'bed': 0.0,
 'cat': 0.16666666666666666,
 'dog': 0.0,
 'face': 0.16666666666666666,
 'my': 0.16666666666666666,
 'on': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'the': 0.16666666666666666}

In [49]:
def computeidf(doclist):
    import math
    idfdict={}
    N=len(doclist)
    
    idfdict=dict.fromkeys(doclist[0].keys(),0)
    for doc in doclist:
        for word, val in doc.items():
            if val>0:
                idfdict[word]+=1
    
    for word, val in idfdict.items():
        idfdict[word]=math.log(N/float(val))
    return idfdict

In [50]:
idfs=computeidf([wordictA,wordictB])

In [51]:
idfs

{'bed': 0.6931471805599453,
 'cat': 0.6931471805599453,
 'dog': 0.6931471805599453,
 'face': 0.6931471805599453,
 'my': 0.0,
 'on': 0.0,
 'sat': 0.0,
 'the': 0.0}

In [54]:
len([wordictA,wordictB])

2

In [39]:
def computetfidf(tfbow,idfs):
    tfidf={}
    for word, val in tfbow.items():
        tfidf[word]=val*idfs[word]
    return tfidf

In [41]:
tfidfbowA=computetfidf(tfbowA,idfs)
tfidfbowB=computetfidf(tfbowB,idfs)

In [42]:
df2=df([tfidfbowA,tfidfbowB])

In [43]:
df2

        bed       cat       dog      face   my   on  sat  the
0  0.000000  0.115525  0.000000  0.115525  0.0  0.0  0.0  0.0
1  0.115525  0.000000  0.115525  0.000000  0.0  0.0  0.0  0.0

In [45]:
result=df1.dot(df2.T)

In [46]:
result

          0         1
0  0.231049  0.000000
1  0.000000  0.231049